.chart {
  flex: 4;
  //-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  //box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;
  background-color: 'transparent'; //var(--white);
  width: 500px;
  height: 200px;

  .title {
    margin-bottom: 10px;
    font-size: 12px;
    font-family: 'Roboto';
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}