.dashboard {
    margin: 0;
    padding: 50px !important;
    max-width: 100% !important;
    max-height: 400px !important;
    background-color: rgba(5, 10, 31, 1);
    position: relative;

    .card-container {
        position: relative;
        border: 0px solid #ff0000;
        justify-content: center;
        align-items: center;
        gap: 30;
        display: flex;
        top: 40%;


        .account_category_card,
        .tax_category_card,
        .savings_category_card {
            min-width: 300px !important;
            height: 250px !important;
            position: relative;
            display: 'inline' !important;

            :hover {

                .acct-card {
                    background-color: rgba(224, 222, 255, 1);
                }

                .ri-user-fill {
                    color: rgba(224, 222, 255, 1);
                }

                .view-acct-details,
                .view-tax-details,
                .view-savings-details {
                    display: flex;
                    font-size: 12;
                    flex-direction: row;

                    //width: 250 !important;
                    //margin: 30;

                    .view-acct-details-box,
                    .view-tax-details-box,
                    .view-savings-details-box {
                        font-size: 12px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;

                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-color: rgba(0, 0, 0, 0.1);
                        padding: 5px // color: red;
                    }

                    .acct-details-chart-icon,
                    .tax-details-chart-icon,
                    .savings-details-chart-icon {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: rgba(90, 50, 211, 1);
                        text-align: center;
                        margin-left: 10px;
                    }

                    .ri-line-chart-line {
                        color: #fff;
                        font-size: 12;
                    }

                }

                // .view-acct-details-box {
                //     border: 1px solid rgba(0, 0, 0, 0.1);
                //     border-color: rgba(0, 0, 0, 0.1);
                //     padding: 5px
                // }

                .acct-amount,
                .tax-amount,
                .savings-amount {
                    display: none;
                }
            }

            .view-acct-details,
            .view-tax-details,
            .view-savings-details {
                display: flex;
                font-size: 12;
                flex-direction: row;
            }

            .view-acct-details-box,
            .view-tax-details-box,
            .view-savings-details-box {
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-color: rgba(0, 0, 0, 0.1);
                font-size: 12px;
            }

            .acct-details-chart-icon,
            .tax-details-chart-icon,
            .savings-details-chart-icon {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: rgba(90, 50, 211, 1);
                text-align: center;
                color: #fff;
                margin-left: 10px;
            }

            .acct-amount,
            .tax-amount,
            .savings-amount {
                display: block;
            }

            .ri-line-chart-line {
                cursor: pointer;
            }

            .chartContainer {
                flex: 1;
                width: 100%
            }
        }











        // .account_category_card {
        //     width: 300px !important;
        //     height: 200px !important;
        //     position: relative;
        //     display: 'inline' !important;
        // }

        .custom-card-header {
            background-color: transparent;
            //color: #3;
            font-weight: bold;
            border: 0 solid #000
        }


        .acct-card {
            background-color: rgba(211, 215, 228, 1);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
        }
    }

}