.header {
    background-color: rgba(5, 10, 31, 1);

    border-width: 1px solid #000;

    display: flex;

    .header__top {
        padding: 10px 0px;
        // background-color: '#ff0000'; // rgba(5, 10, 31, 1);
        /*#000d6b;*/
        color: '#000' // rgb(5, 10, 31);
    }

    .header__top__left {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    .header__top__left span {
        font-size: 0.9rem;
    }

    .header__top__help {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
    }

    .header__top__help i {
        background: #fff;
        color: #000d6b;
        padding: 2px 4px;
        border-radius: 50px;
        font-size: 0.7rem;
    }

    .header__top__right a {
        text-decoration: none;
        color: #000;
        font-size: 0.9rem;
    }

    .header__top__right a:hover {
        color: rgba(34, 171, 195, 1);
    }

    /* ============ header middle style =========== */

    .header__middle {
        padding: 20px 0px;
    }

    .logo h1 a span {
        font-size: 1.5rem;
    }

    .logo h1 a i {
        font-size: 2.2rem;
    }

    .logo h1 a {
        text-decoration: none;
        color: #000d6b;
        font-weight: 700;
    }

    .logo h1 {
        line-height: 1.5rem;
    }

    .header__location span i {
        font-size: 2.2rem;
        color: #000d6b;
    }

    .header__location-content h4 {
        font-size: 1.2rem;
        font-weight: 700;
        color: #000d6b;
    }

    .header__location-content h6 {
        font-weight: 600;
    }

    .header__btn {
        background: #000d6b !important;
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .header__btn a {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
        text-decoration: none;
        color: #fff;
        justify-content: end;
        font-size: 0.9rem;
    }

    .header__btn a:hover {
        color: #fff;
    }

    /* ================ main navbar styles =========== */

    .main__navbar {
        padding: 0px 0px;
        // background-color: rgba(5, 10, 31, 1);
        /* #000d6b;*/
    }

    .mobile__menu i {
        color: #000;
        font-size: 1.3rem;
        cursor: pointer;
    }

    .mobile__menu {
        display: none;
    }

    .navigation__wrapper {
        // justify-content: right;
    }

    .menu {
        display: flex;
        /* text-align: right; */
        /* align-items: left; */
        /* justify-content: left; */
        column-gap: 2.7rem;
        //background-color: rgba(5, 10, 31, 1);
        /* margin-left: 500px; */
        /* margin-right: 30px */
    }

    .nav__right {
        margin: 0px 0px 0px 0px;
    }

    .nav__item {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Roboto', sans-serif;

    }

    /* .nav__item::after {
  content: "^";
} */

    .nav__item:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(94, 46, 244, 1);
        border-radius: 5;
        width: 100px;
        text-align: center;
        /*#f9a826;*/
    }

    .search__box {
        border: 1px solid #7c8a972f;
        padding: 7px 12px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        background: #F2F6F7
            /*#020a4de9;*/
    }

    .search__box input {
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
    }

    .search__box input::placeholder {
        font-size: 0.8rem;
    }

    .search__box span i {
        color: rgba(255, 255, 255, 0.555);
        cursor: pointer;
    }

    .nav__active {
        color: rgb(255, 255, 255);
        background-color: rgba(94, 46, 244, 1);

        /* #f9a826;*/
    }

}

@media only screen and (max-width: 768px) {}